html,body {
    width: 100%;
    min-height: 100%;
    background-color: #ccc;
}

* {
    box-sizing: border-box;
}

.container
{
    width: 70%;
    min-height: 100%;
    margin: 0 auto;
    
}

.flag{
    width: 90%;
    margin: 10px auto;
    position: relative;
    background: white;
    padding: 33.33%;

}
.flag:before{
    content: "";
    width:33.33%;
    height: 100%;
    left:0;
    top:0;
    position: absolute;
    background: darkblue;
    
}
.flag:after{
    content: "";
    width:33.33%;
    height: 100%;
    right:0;
    top:0;
    position: absolute;
    background:maroon;   
}