html{
    width: 100%;
    height: auto;
}

body{
    width: 100%;
    height: auto;
    background: #eee;
}
*{box-sizing: border-box;}


.flag{
    width: 90%;
    margin: 10px auto 10px auto;
    position: relative;
    background: white;
    padding: 33.33%;

}
.flag-blue{
    width:33.33%;
    height: 100%;
    left:0;
    top:0;
    position: absolute;
    background: darkblue;
    
}
.flag-red{
    width:33.33%;
    height: 100%;
    right:0;
    top:0;
    position: absolute;
    background:maroon;   
}